@model NewSoccer_JerseyVM
@using SoccerJerseyPass.Data.Enums;
@using SoccerJerseyPass.Data.Base.ViewModels;

@{
    ViewData["Title"] = "Delete Player Jersey";
}

<div class="row">
    <div class="col-md-12 ">
        <p>
            <h4>Are you sure you want to delete this jersey?</h4>
        </p>

        <div class="row">
            <div class="col-md-12 offset-0">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-7 offset-1">
                            <div class="card mb-3">
                                <div class="row g-2">
                                    <div class="col-md-12">
                                        <div class="card-header text-white bg-success">
                                            <p class="card-text">
                                                <h5 class="card-title">
                                                    @Model.Name
                                                </h5>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="@Model.ImageURL" width="110%" alt="@Model.Name">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">@Model.Description</p>
                                            <p class="card-text">
                                            </p>
                                            <p class="card-text">
                                            </p>
                                            <p class="card-text"><b>Club: </b>@Model.Club</p>
                                            <p class="card-text"><b>Club: </b>@Model.Name.ToString()</p>
                                            <p class="card-text"><b>Club: </b>@Model.Description.ToString()</p>
                                            <p class="card-text"><b>Club: </b>@Model.Price.ToString()</p>
                                            <p class="card-text"><b>Size: </b>@Model.Size.ToString()</p>
                                            <p class="card-text"><b>Sleeve: </b>@Model.Sleeve.ToString()</p>
                                            <p class="card-text ">
                                                <b>Status: </b>
                                                @if (2 >= 1)
                                                {
                                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                                }
                                                @* else if ()
                                                {
                                                <span class="badge bg-danger text-white">EXPIRED</span>
                                                }*@
                                                @*   else
                                                {
                                                <span class="badge bg-primary text-white">UPCOMING</span>
                                                }*@
                  

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-footer">
                                            <p class="card-text">
                                                <a class="btn btn-outline-primary float-right" asp-action="Index">
                                                    Back to List
                                                </a>
                                                <a class="form-group float-end">
                                                    <input type="submit" value="Delete" class="btn btn-danger float-right" />
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
